@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@layer components {

    .nav-list-dropdown {
        @apply md:absolute md:top-[55px] md:-left-0 md:shadow-md rounded md:bg-primary-bg md:w-32 md:flex md:flex-col gap-2 transition-all duration-200 ease-in-out px-3 md:p-1;
    }

    .nav-list-dropdown li {
        @apply md:list-none transition-colors duration-200 ease-in-out;
    }

    .nav-list-item {
        @apply md:list-none md:relative cursor-pointer md:w-20 md:flex md:justify-center md:items-center flex flex-row
    }

    .nav {
        @apply w-full h-full fixed overflow-hidden top-[50px] left-0 z-20 flex flex-col bg-primary-bg max-h-0 transition-[max-height] duration-500 ease-out md:max-h-none md:top-0 md:static md:bg-transparent md:overflow-visible md:flex-row-reverse md:justify-between
    }
}

@layer utilities {

    /* From NextJS Dashboarc course */
    .shimmer {
        @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent
    }
}

:root {
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 20px;
}

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked~nav {
    max-height: 350px;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsiveness */

@media (min-width: 768px) {


    .hamb {
        display: none;
    }

}